header{
    margin-bottom: 0;
}

.reset-btn {
    background: black;
    color: white;
    margin-top: 2rem;
    
}

.reset-btn:hover{
    cursor: pointer;

    background: rgba(0, 0, 0, .7);
}

input {
    margin-top: .3rem;
}

legend{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2rem;
}
