* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}


body {
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
}


header {
    background: rgb(83, 107, 125);
    height: 8vh;
    width: 100vw;
    margin-bottom: 2rem;
}

.base-nav {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    height: 100%;
    align-items: center;
    color: #ccc;
}

.base-nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.base-nav a {
    text-decoration: none;
    color: #ccc;
}


/* flask success flash message styles */
.success {
    background-color: rgb(193, 231, 194);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    padding: 0 1.4rem 0 1.4rem;
    height: 6vh;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.success-flash-btn {
    background: none;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
}

.success-flash-btn:hover {
    cursor: pointer;
}


/* flask error flash message styles */
.error {
    height: 6vh;
    font-size: 1.5rem;
    background-color: rgb(251, 181, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 1rem;
    width: 40%;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.error-flash-btn {
    background: none;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

}


.info {
    background-color:#cdecf0;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    padding: 0 1.4rem 0 1.4rem;
    height: 6vh;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.info-flash-btn {
    background: none;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
}

.info-flash-btn:hover {
    cursor: pointer;
}