header {
    margin-bottom: 0;
}

.post-section {
    background: #ccc;
}

.post-container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 8vh);
    width: 67%;
    margin: 0 auto;

}

.post-article {
    background: white;
    font-size: 1.5rem;
    width: 60%;
    margin-top: 2rem;
    padding: 1.4rem;
    align-self: flex-start;
    border-radius: 10px;

}

.post-article h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

input, textarea {
    width: 100%;
    margin-bottom: 1rem;

}

input {
    padding: 1rem .5rem;
    outline: none;
}

.post-article textarea {
    max-width: 100%;
    max-height: 300px;
    resize: vertical;
    outline: none;
    padding: 1rem .5rem;
}

.post-article label {
    display: block;
    font-size: 2rem;
    margin-bottom: .7rem;
}

.aside-content {
    margin-top: 2rem;
    align-self: flex-start;
    background-color: white;
}


.post-btn {
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    background: rgb(0, 123, 255);
    width: 25%;
    padding: 1.3rem 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.form-error-message {
    color: red;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    margin-left: .3rem;
}

#input-border-error {
    border: 1px solid red;
    outline: none;
}